<div class="modal fade @(IsOpen ? "show d-block" : "")" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Title
                    </h5>
                <button type="button" class="btn-close" @onclick="Close" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@if (IsOpen)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }

    protected bool IsOpen { get; set; } = false;

    public void Open()
    {
        IsOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsOpen = false;
        StateHasChanged();
    }
}