<div class="modal fade @(IsOpen ? "show d-block" : "")" id="@ModalId" tabindex="-1" role="dialog" aria-labelledby="@ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@ModalLabel">
                    @Title
                    </h5>
                <button type="button" class="btn-close" @onclick="Close" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@if (IsOpen)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter] public string ModalId { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public string ModalLabel { get; set; } = "Modal";
    [Parameter] public string Title { get; set; } = "Modal Title";
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected bool IsOpen { get; set; } = false;

    public void Open()
    {
        IsOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsOpen = false;
        StateHasChanged();
    }
}